html {
  scroll-behavior: smooth;
  
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: bold;
  /* Additional styles for headings */
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  /* Additional styles for paragraphs */
}


h1, h2, h3, h4, h5, h6 {
  text-shadow: 0 0 10px currentColor;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 80;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px;
  color: #ffffff;
  background-color: #000000;
  animation: fade-in 1s ease;
}

.section:nth-child(even) {
  background-color: #ffffff;
  color: #000000;
}

.section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.section p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color:red;
  justify-content: center;
  align-items: flex-start;
}

.right {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer{
  display:flex;
  align-items:flex-end;
  position:relative;
  top:10em;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden; 
}



img {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 600px) {
  .section {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
  }

  .section h1 {
    font-size: 20px;
  }

  .section p {
    font-size: 14px;
  }
}
